[alias]
    whoami = config user.email

[branch]
	sort = -committerdate ; Show most recently changed branches first.

[user]
	name = Connor Flowers
	useConfigOnly = true

[core]
    editor = nano
	excludesFile = ~/.gitignore_global

[commit]
    verbose = true
	gpgsign = true

[credential]
    helper = osxkeychain

[init]
	defaultBranch = main

[fetch]
	prune = true
    pruneTags = true
	writeCommitGraph = true

[merge]
    conflictStyle = zdiff3

[push]
    autoSetupRemote = true

[rebase]
    autosquash = true
    autostash = true

[diff]
    algorithm = histogram

[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset - %s %Cgreen(%ar) %C(bold blue)[%an]%Creset%C(yellow)%d%Creset' --abbrev-commit
    glog = log --all --decorate --oneline --graph
