[alias]
    whoami = config user.email

[branch]
	# Show most recently changed branches first.
	sort = -committerdate

[user]
	name = Connor Flowers
	email = cjflowers@pm.me
	signingkey = FILL_ME_OUT

[core]
	excludesFile = ~/.gitignore_global

[commit]
	gpgsign = true

[init]
	defaultBranch = main
